.content-box{
    box-sizing: border-box;
    flex-flow: row wrap;
    flex-direction: row-reverse;
    display:flow-root;
}

header{
    display: border-box;
    background-color: rgba(0, 114, 245, 0.582);
    color: white;
    border-radius: 0px;
    text-align: center;


}
ul{
    list-style-type: none;
    float: right;
    margin: 0px;
    padding: 0px;
}
ul li{
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    font-family: monospace;
    border: 2px solid;
    border-radius: 20px;
    text-align: center;
    background-color: black;
    font-weight: bolder;
    display: grid;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}


body{
    background-color: black;
    display: inline;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
}
h2{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    font-size: 20px;
    padding-right: 450px;
    padding-top: 20px;
}
img{
    width: 200px;
    height: 200px;
    border: 20px groove rgba(0, 128, 107, 0.671);
    border-radius: 20px 50px;
    
}
a{
    
}
.linkArea{
    padding-left: 20px;
    font-weight: bold;
    text-decoration: solid;
}


button{
    border-radius: 300px;
    font-family: 'Courier New', Courier, monospace;
    size: 50px;
    font-size: 15px;
    font-weight: bolder;
    font-variant: normal;
    color: rgba(76, 0, 130, 0.699);
    background-color: none;
    padding: 1%;
    border: 5px solid;
    border-color:rgba(0, 0, 0, 0.349);
    text-align: center;
}